asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
bcrypt==3.1.7
blinker==1.4
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
ciscoconfparse==1.5.19
click==6.7
cloud-init==19.2
colorama==0.4.3
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cryptography==3.0
distro-info===0.18ubuntu0.18.04.1
dnspython==2.0.0
et-xmlfile==1.0.1
future==0.18.2
httplib2==0.18.0
hyperlink==17.3.1
idna==2.10
incremental==16.10.1
jdcal==1.4.1
Jinja2==2.11.2
jsonpatch==1.16
jsonpointer==1.10
jsonschema==2.6.0
junos-eznc==2.5.1
keyring==10.6.0
keyrings.alt==3.0
language-selector==0.1
lxml==4.5.2
MarkupSafe==1.1.1
napalm==3.1.0
ncclient==0.6.8
netaddr==0.8.0
netifaces==0.10.4
netmiko==3.2.0
ntc-templates==1.5.0
numpy==1.19.1
oauthlib==2.0.6
openpyxl==3.0.4
PAM==0.4.2
pandas==1.1.0
paramiko==2.7.1
passlib==1.7.2
Pillow==7.2.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.20
pycrypto==2.6.1
pyeapi==0.8.3
pygobject==3.26.1
PyJWT==1.5.3
PyNaCl==1.4.0
pyOpenSSL==17.5.0
pyparsing==2.4.7
pyserial==3.4
python-apt==1.6.4
python-dateutil==2.8.1
python-debian==0.1.32
pytz==2020.1
pyxdg==0.25
PyYAML==5.3.1
requests==2.24.0
requests-unixsocket==0.1.5
scp==0.13.2
SecretStorage==2.3.1
service-identity==16.0.0
six==1.15.0
ssh-import-id==5.7
systemd-python==234
textfsm==1.1.0
transitions==0.8.2
Twisted==17.9.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.10
virtualenv==15.1.0
xlrd==1.2.0
yamlordereddictloader==0.4.0
zope.interface==4.3.2
